@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebRTC Demo</title>

    <link href="/Content/demo.css" rel="stylesheet" />

    <!-- jQuery is required for SignalR, but we don't need it for WebRTC -->
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>

    <!-- adapter.js bridges the gap between Firefox and Chrome in terms of the WebRTC API syntax -->
    <script src="http://cdn.temasys.io/adapterjs/0.14.x/adapter.min.js"></script>
    <!--<script src="/Scripts/adapter.js"></script>-->
    <!-- our app code -->
    
</head>
<body>
    <!-- the autoplay attribute is required to start displaying the feed -->
    <button id="ConnectBtn">Connect</button>
    <br/>
    <input type="text" id="msg-txt" />
    <button id="send-btn" disabled="disabled">Send Msg</button>
    <br />
    <textarea id="chat-log" rows="20" cols="100"></textarea>
    <br/>
    <button id="close-btn" disabled="disabled">Close Connection</button>
    <script src="~/Scripts/WebRtcDemo/demo-text-channel.js"></script>
</body>
</html>